<!DOCTYPE html>
<html>
  <head>
    <title>SchoolApp</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
      <a class='navbar-brand' href='#'>Emeritus School</a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNav'>
        <ul class='navbar-nav'>
          <% if user_signed_in? %>
            <li class='nav-item active'>
               <%= link_to 'Dashboard', dashboard_path, class: 'navbar-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
            </li>
          <% else %>
            <li class='nav-item active'>
              <%= link_to 'Sign up', new_user_registration_path, class: 'navbar-link'  %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Login', new_user_session_path, class: 'navbar-link'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <% if notice.present? %>
        <p class='alert alert-success'><%= notice %></p>
      <% elsif alert.present? %>
        <p class='alert alert-alert'><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
